<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>library</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookManage</display-name>
    <servlet-name>BookManage</servlet-name>
    <servlet-class>com.softrayn.library.BookManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookManage</servlet-name>
    <url-pattern>/BookManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryManage</display-name>
    <servlet-name>CategoryManage</servlet-name>
    <servlet-class>com.softrayn.library.CategoryManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryManage</servlet-name>
    <url-pattern>/CategoryManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderManage</display-name>
    <servlet-name>ReaderManage</servlet-name>
    <servlet-class>com.softrayn.library.ReaderManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderManage</servlet-name>
    <url-pattern>/ReaderManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addReader</display-name>
    <servlet-name>addReader</servlet-name>
    <servlet-class>com.softrayn.library.addReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addReader</servlet-name>
    <url-pattern>/addReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFunction</display-name>
    <servlet-name>UserFunction</servlet-name>
    <servlet-class>com.softrayn.library.UserFunction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFunction</servlet-name>
    <url-pattern>/UserFunction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowManage</display-name>
    <servlet-name>BorrowManage</servlet-name>
    <servlet-class>com.softrayn.library.BorrowManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowManage</servlet-name>
    <url-pattern>/BorrowManage</url-pattern>
  </servlet-mapping>
</web-app>